/*
   -- COLORS :
   vert makina = #d6e61f
   rose makina = #d52668
   orange = #f08a00

   light-grey = #f6f6f6
   medium-grey = #aaaaaa
   dark-grey = #333333
*/

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Header */

/* Carte */
#main {
  position: relative;
}

#main::before {
  content: "";
  display: block;
  padding-top: 40%;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.activeArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
}

#map .legend {
  margin: 0;
  padding: 1rem;
  width: 40%;
  height: 100%;
  text-align: left;
  background: rgba(255,255,255,0.8);
  color: #333333;
}

.legend ul {
  padding-left: 0px;
  list-style: none;
}

#logo {
  float: right;
}

.leaflet-bar a.leaflet-control-touchhover-toggled {
  background: #888;
}

/* navigation */

.nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5em;
}

.nav li {
  padding: 2px 5px;
  border-right: #CCC solid 1px;
}

.inline li {
  float: left;
}
