
html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}


/* Header */

#logo {
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Carte */
#main {
  position: relative;
}

#main::before {
  content: "";
  display: block;
  padding-top: 40%;
}

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.info {
  padding: 6px 8px;
  font-family: 'Cabin', sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 390px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend ul {
  padding-left: 0px;
}

.legend li {
  list-style-type: none;
}

.leaflet-bar a.leaflet-control-touchhover-toggled {
  background: #888;
}

/* navigation */

.nav {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5em;
}

.nav li {
  padding: 2px 5px;
  border-right: #CCC solid 1px;
}

.inline li {
  float: left;
}
