/*
   -- COLORS :
   vert makina = #d6e61f
   rose makina = #d52668
   orange = #f08a00

   light-grey = #f6f6f6
   medium-grey = #aaaaaa
   dark-grey = #333333
*/

iframe {
  outline: 1px dotted #eee;
}

blockquote {
  background: #f6f6f6;
  font-size: 0.9rem;
  padding: 1rem;
  margin: 1rem 0;
  overflow: auto;
}

section > blockquote {
  margin: 1rem;
}

code {
  white-space: pre;
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
    margin: 0;
}

#main h3 {
  margin-top: 3rem;
}

.map-exemples {
  width: 100%;
  overflow: hidden;
}

.map-exemples > div {
  width: 100%;
  margin: 1rem 2.5%;
}

@media (min-width: 768px) {
  .map-exemples > div {
    float: left;
    width: 45%;
    margin: 1rem 2.5%;
  }
}